**/genfiles.properties


/restricted/nbproject/private/
/support/nbproject/private/
/restricted/build/
/sphairas-service/mitarbeit/build/
/sphairas-admin-client/build/
/sphairas-admin-client/nbproject/private/*
/sphairas-admin-client/dist/
/sphairas-admin-client/release/modules/ext/*
/sphairas-admin-client/branding-updated/build/
/sphairas-admin-client/branding-updated/nbproject/private/

/sphairas-admin-libs/admin-container/build/
/sphairas-admin-libs/admin-container/nbproject/private/*
/sphairas-admin-libs/admin-reports/build/
/sphairas-admin-libs/admin-reports/nbproject/private/*
/sphairas-admin-libs/beans-extui/build/
/sphairas-admin-libs/beans-extui/nbproject/private/*
/sphairas-admin-libs/beans/build/
/sphairas-admin-libs/betula-units-administration/build/
/sphairas-admin-libs/common-beans-services/build/
/sphairas-admin-libs/config-admin/build/
/sphairas-admin-libs/couchdb-users/build/
/sphairas-admin-libs/danis-xml/build/
/sphairas-admin-libs/database-admin/build/
/sphairas-admin-libs/database-admin/nbproject/private/*
/sphairas-admin-libs/database/build/
/sphairas-admin-libs/docsrv/build/
/sphairas-admin-libs/docsrv/nbproject/private/*
/sphairas-admin-libs/excel-table-import/build/
/sphairas-admin-libs/glassfish/build/
/sphairas-admin-libs/glassfish/external/*
/sphairas-admin-libs/glassfish/release/modules/ext/*
/sphairas-admin-libs/jms-client/build/
/sphairas-admin-libs/klv/build/
/sphairas-admin-libs/odf-table-import/build/
/sphairas-admin-libs/sibank/build/
/sphairas-admin-libs/table-import/build/
/sphairas-admin-libs/untis-xml/build/
/sphairas-admin-libs/untis-xml/nbproject/private/
/sphairas-admin-libs/untis/build/
/sphairas-admin-libs/validations-ui/build/
/sphairas-admin-libs/validations-ui/nbproject/private/*
/sphairas-admin-libs/xml-import/build/
/sphairas-common/commons-net/build/
/sphairas-common/Derby/build/
/sphairas-common/Derbyclient/build/
/sphairas-common/Eclipselink/build/
/sphairas-common/GData Books/build/
/sphairas-common/GData Client/build/
/sphairas-common/ICalendar/build/
/sphairas-common/ICalendar/nbproject/private/
/sphairas-common/MySql/build/
/sphairas-common/PDF File/build/
/sphairas-common/swingx/build/
/sphairas-common/async-http-client/build/
/sphairas-common/beansbinding/build/
/sphairas-common/commons-beanutils/build/
/sphairas-common/commons-codec/build/
/sphairas-common/commons-collections4/build/
/sphairas-common/commons-compress/build/
/sphairas-common/commons-configuration/build/
/sphairas-common/commons-io/build/
/sphairas-common/commons-math3/build/
/sphairas-common/commons-vfs2/build/
/sphairas-common/ektorp/build/
/sphairas-common/fop/build/
/sphairas-common/grizzly-for-async-http-client/build/
/sphairas-common/guava-spheres/build/
/sphairas-common/guava/build/
/sphairas-common/httpcomponents/build/
/sphairas-common/jackrabbit-webdav/build/
/sphairas-common/jackson/build/
/sphairas-common/java-native-access/build/
/sphairas-common/jaxb-xslfo/build/
/sphairas-common/jersey-client/build/
/sphairas-common/jfreechart/build/
/sphairas-common/jsch/build/
/sphairas-common/opencsv/build/
/sphairas-common/poi/build/
/sphairas-common/saxon9he/build/
/sphairas-common/slf4j-simple/build/
/sphairas-common/slf4j/build/
/sphairas-common/univocity-parsers/build/
/sphairas-common/wasync/build/
/sphairas-common/xBaseJ/build/
/sphairas-common/xmlsec/build/
/sphairas-common/xz/build/
/sphairas-common/zxing/build/
/sphairas-libs/classroom-test/build/
/sphairas-libs/classroom-test/nbproject/private/*
/sphairas-libs/clients/build/
/sphairas-libs/common-ui/build/
/sphairas-libs/common-ui/nbproject/private/
/sphairas-libs/couchdb/build/
/sphairas-libs/curriculum/build/
/sphairas-libs/curriculum/nbproject/private/*
/sphairas-libs/icalendar/build/
/sphairas-libs/icalendar/nbproject/private/*
/sphairas-libs/journal-couchdb/build/
/sphairas-libs/journal/build/
/sphairas-libs/listprint/build/
/sphairas-libs/project-backup/build/
/sphairas-libs/project-local/build/
/sphairas-libs/project-local/nbproject/private/*
/sphairas-libs/project-ui/build/
/sphairas-libs/project/build/
/sphairas-libs/reports/build/
/sphairas-libs/services-client/build/
/sphairas-libs/services-ui/build/
/sphairas-libs/term-report/build/
/sphairas-libs/validations/build/
/sphairas-messenger/acer/build/
/sphairas-messenger/remote-ui/build/
/sphairas-service/admin-services-impl/build/
/sphairas-service/authenticator/build/
/sphairas-service/curriculum-import/build/
/sphairas-service/curriculum-import/nbproject/private/*
/sphairas-service/imports-implementation/build/
/sphairas-service/imports-implementation/nbproject/private/
/sphairas-service/iserv-services/build/
/sphairas-service/iserv-services/nbproject/private/
/sphairas-service/local-domain/build/
/sphairas-service/local/build/
/sphairas-service/local/nbproject/private/
/sphairas-service/niedersachsen-admin-ui/build/
/sphairas-service/niedersachsen-berichte-ui/build/
/sphairas-service/niedersachsen-gs-ui/build/
/sphairas-service/niedersachsen-kgs-ui/build/
/sphairas-service/niedersachsen-kgs-ui/nbproject/private/
/sphairas-service/niedersachsen/build/
/sphairas-service/noten-ui/build/
/sphairas-service/noten/build/
/sphairas-service/services-implementation-ui/build/
/sphairas-service/services-implementation/build/


/sphairas-common/commons-codec/nbproject/private/
/sphairas-common/commons-codec/release/modules/ext/*
/sphairas-common/commons-beanutils/release/modules/ext/*
/sphairas-common/commons-beanutils/nbproject/private/
/sphairas-common/commons-collections4/release/modules/ext/*
/sphairas-common/commons-collections4/nbproject/private/
/sphairas-common/commons-compress/release/modules/ext/*
/sphairas-common/commons-compress/external/*
/sphairas-common/commons-compress/nbproject/private/
/sphairas-common/commons-configuration/release/modules/ext/*
/sphairas-common/commons-configuration/nbproject/private/
/sphairas-common/commons-io/release/modules/ext/*
/sphairas-common/commons-io/external/*
/sphairas-common/commons-io/nbproject/private/
/sphairas-common/apache-commons-lang3/release/modules/ext/*
/sphairas-common/apache-commons-lang3/external/*
/sphairas-common/apache-commons-lang3/nbproject/private/
/sphairas-common/commons-math3/release/modules/ext/*
/sphairas-common/commons-math3/external/*
/sphairas-common/commons-math3/nbproject/private/
/sphairas-common/commons-net/release/modules/ext/*
/sphairas-common/commons-net/external/*
/sphairas-common/commons-net/nbproject/private/
/sphairas-common/commons-vfs2/release/modules/ext/*
/sphairas-common/commons-vfs2/nbproject/private/
/sphairas-common/httpcomponents/nbproject/private/
/sphairas-common/httpcomponents/release/modules/ext/*
/sphairas-common/httpcomponents/external/*
/sphairas-common/jackrabbit-webdav/nbproject/private/
/sphairas-common/jackrabbit-webdav/release/modules/ext/*
/sphairas-common/poi/nbproject/private/
/sphairas-common/poi/release/modules/ext/*
/sphairas-common/poi/external/*
/sphairas-common/xmlsec/release/modules/ext/*
/sphairas-common/xmlsec/external/*
/sphairas-common/xmlsec/nbproject/private/
/sphairas-common/async-http-client/release/modules/ext/*
/sphairas-common/async-http-client/nbproject/private/
/sphairas-common/beansbinding/release/modules/ext/*
/sphairas-common/beansbinding/external/*
/sphairas-common/beansbinding/nbproject/private/
/sphairas-common/ektorp/release/modules/ext/*
/sphairas-common/ektorp/external/*
/sphairas-common/ektorp/nbproject/private/
/sphairas-common/fop/release/modules/ext/*
/sphairas-common/fop/external/*
/sphairas-common/fop/nbproject/private/
/sphairas-common/guava-spheres/release/modules/ext/*
/sphairas-common/guava-spheres/external/*
/sphairas-common/guava-spheres/nbproject/private/
/sphairas-common/grizzly-for-async-http-client/release/modules/ext/*
/sphairas-common/grizzly-for-async-http-client/nbproject/private/
/sphairas-common/jackson/release/modules/ext/*
/sphairas-common/jackson/external/*
/sphairas-common/jackson/nbproject/private/
/sphairas-common/jaxb-xslfo/release/modules/ext/*
/sphairas-common/jaxb-xslfo/external/*
/sphairas-common/jaxb-xslfo/nbproject/private/
/sphairas-common/jax-ws/release/modules/ext/*
/sphairas-common/jax-ws/external/*
/sphairas-common/jax-ws/nbproject/private/
/sphairas-common/jersey-client/release/modules/ext/*
/sphairas-common/jersey-client/external/*
/sphairas-common/jersey-client/nbproject/private/
/sphairas-messenger/remote-ui/nbproject/private/
/sphairas-libs/journal-couchdb/nbproject/private/
/sphairas-service/niedersachsen-admin-ui/nbproject/private/
/sphairas-common/jsch/nbproject/private/
/sphairas-admin-libs/excel-table-import/nbproject/private/
/sphairas-libs/listprint/nbproject/private/
/sphairas-common/jfreechart/nbproject/private/
/sphairas-common/jfreechart/release/modules/ext/*
/sphairas-common/jfreechart/external/*
/sphairas-common/saxon9he/nbproject/private/
/sphairas-common/saxon9he/external/*
/sphairas-common/saxon9he/release/modules/ext/*
/sphairas-common/swingx/release/modules/ext/*
/sphairas-common/swingx/external/*
/sphairas-common/swingx/nbproject/private/
/sphairas-libs/clients/nbproject/private/
/sphairas-common/wasync/external/*
/sphairas-common/wasync/release/modules/ext/*
/sphairas-common/wasync/nbproject/private/
/sphairas-common/univocity-parsers/release/modules/ext/*
/sphairas-common/univocity-parsers/external/*
/sphairas-common/univocity-parsers/nbproject/private/
/sphairas-common/xBaseJ/nbproject/private/
/sphairas-common/xz/release/modules/ext/*
/sphairas-common/xz/external/*
/sphairas-common/xz/nbproject/private/
/sphairas-common/zxing/nbproject/private/
/sphairas-common/zxing/release/modules/ext/*
/sphairas-common/zxing/external/*
/sphairas-libs/services-ui/nbproject/private/
/sphairas-libs/journal/nbproject/private/
/sphairas-common/xmlsec/release/modules/source/*
/sphairas-common/xmlsec/release/modules/javadoc/*
/sphairas-common/jersey-client/release/modules/source/*
/sphairas-common/jersey-client/release/modules/javadoc/*
/sphairas-common/javafx-swt-*/external/*
/sphairas-common/javafx-swt-*/release/modules/ext/*
/sphairas-common/javafx-swt-*/nbproject/private/

/sphairas-admin-libs/table-import/nbproject/private/
/sphairas-admin-libs/untis/nbproject/private/
/sphairas-admin-libs/xml-import/nbproject/private/
/sphairas-libs/project-ui/nbproject/private/
/sphairas-libs/project/nbproject/private/
/sphairas-service/services-implementation-ui/nbproject/private/

/sphairas-messenger/acer/nbproject/private/
/sphairas-libs/validations/nbproject/private/
/sphairas-service/services-implementation/nbproject/private/
/sphairas-admin-libs/database/nbproject/private/
/sphairas-service/noten/nbproject/private/
/sphairas-common/Derbyclient/nbproject/private/
/sphairas-common/Derby/nbproject/private/
/sphairas-common/Eclipselink/nbproject/private/
/sphairas-common/GData Books/nbproject/private/
/sphairas-common/GData Client/nbproject/private/
/sphairas-common/MySql/nbproject/private/
/sphairas-common/guava/nbproject/private/
/sphairas-common/java-native-access/nbproject/private/
/sphairas-common/opencsv/nbproject/private/
/sphairas-common/slf4j-simple/nbproject/private/
/sphairas-common/slf4j/nbproject/private/
/sphairas-libs/project-backup/nbproject/private/
/sphairas-common/javafx-swt-linux/build/
/sphairas-common/javafx-swt-linux/nbproject/private/
/sphairas-admin-libs/odf-table-import/release/modules/ext/*
/sphairas-admin-libs/odf-table-import/external/*
/sphairas-admin-libs/odf-table-import/nbproject/private/
/sphairas-admin-libs/jms-client/release/modules/ext/*
/sphairas-admin-libs/jms-client/external/*
/sphairas-admin-libs/jms-client/nbproject/private/
/sphairas-service/admin-services-impl/nbproject/private/
/sphairas-admin-libs/klv/nbproject/private/
/sphairas-service/services-implementation-acer-ui/build/
/sphairas-service/services-implementation-acer-ui/nbproject/private/

/sphairas-libs/nbproject/private/
/sphairas-libs/build/
/sphairas-libs/library/build/
/sphairas-libs/ical/build/
/sphairas-libs/services/build/
/sphairas-libs/library/nbproject/private/
/sphairas-libs/services/nbproject/private/
/sphairas-libs/services-client/nbproject/private/
/sphairas-libs/ical/nbproject/private/
/sphairas-libs/journal/nbproject/private/
/sphairas-libs/clients/nbproject/private/
/sphairas-libs/term-report/nbproject/private/
/sphairas-libs/reports/nbproject/private/

/sphairas-common/nbproject/private/
/sphairas-common/build/
/sphairas-common/jaxb-ri/build/
/sphairas-common/jax-ws/build/
/sphairas-common/apache-commons-lang3/build/
/sphairas-common/jaxb-ri/nbproject/private/
/sphairas-common/javafx-swt/build/
/sphairas-common/PDF File/nbproject/private/
/sphairas-common/jax-ws/nbproject/private/
/sphairas-common/javafx-swt/nbproject/private/


/sphairas-admin-libs/nbproject/private/
/sphairas-admin-libs/build/
/sphairas-admin-libs/glassfish/nbproject/private/
/sphairas-admin-libs/betula-units-administration/nbproject/private/
/sphairas-admin-libs/config-admin/nbproject/private/
/sphairas-admin-libs/sibank/nbproject/private/

/sphairas-messenger/nbproject/private/
/sphairas-messenger/build/

/sphairas-service/nbproject/private/
/sphairas-service/build/
/sphairas-service/niedersachsen/nbproject/private/
/sphairas-libs/pdf-file/build/
/sphairas-libs/pdf-file/nbproject/private/
/sphairas-service/noten-ui/nbproject/private/
/sphairas-admin-client/harness/nbi/stub/ext/components/products/helloworld/nbproject/private/
/sphairas-admin-client/harness/nbi/stub/ext/engine/nbproject/private/
/sphairas-admin-libs/couchdb-users/nbproject/private/
/sphairas-service/database-admin/build/
/sphairas-service/database-admin/nbproject/private/
/support/niedersachsen-support/build/
/support/build/
/support/niedersachsen-support/nbproject/private/
/support/sphairas-modules/nbproject/private/
/sphairas-common/commons-net/build/
/sphairas-common/commons-net/nbproject/private/
/sphairas-common/swingx/build/
/sphairas-common/swingx/nbproject/private/
/sphairas-admin-libs/beans/nbproject/private/
/sphairas-admin-libs/common-beans-services/nbproject/private/
/sphairas-service/local-domain/nbproject/private/
/sphairas-service/authenticator/nbproject/private//
/sphairas-libs/couchdb/nbproject/private/
/sphairas-service/mitarbeit/nbproject/private/
/sphairas-service/niedersachsen-berichte-ui/nbproject/private/
/sphairas-service/niedersachsen-gs-ui/nbproject/private/
